/* body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: max-content;
  
} não necessário*/

.main-container{

  width: 100px;
  

 
}

.item {
 display:flex
    
}

.shadow {
  width:300px;
  height: 200px;
  border: 4px solid red;
  box-shadow: -8px 15px  red;
  box-sizing: border-box;
  margin: 10px;

  
}

.shadow{
 
  flex-grow: -1;
  
} 

.flex{
 
  flex-grow: 4;
  
} 